<!--          THIS IS THE RESERVATION FORM     -->
          
    <div class="popup-overlay" id="popup-overlay"></div>

    <div class="reservation-container">
    
        <div class="reservation" id="reservationForm">
            <div class="x-o">
                <div class="reg-head">
                    <h2>Reserve a table</h2>
                </div>
                
                <div class="closeFormBtn" id="closeFormBtn">
                    <span></span><span></span>
                </div>
              
            </div>
        
            <form action="/reservation" method="POST" class="register">
                <div class="arrangement">
                    <div class="form-layout">
                        <label for="fname">Full Name</label>
                        <input type="text" id="fname" name="fname" placeholder="First name" required>
                    </div>

                    <div class="form-layout">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" placeholder="your@email.com" required>
                    </div>
    
                </div>

                <div class="arrangement">
                    <div class="form-layout">
                        <label for="phone">Phone number</label>
                        <input type="tel" id="phone" name="phone" placeholder="Phone number" required>
                    </div>
            
                    <div class="form-layout">
                        <label for="persons">Number of persons</label>
                        <input type="number" id="persons" name="persons" placeholder="12 persons" required>
                    </div>
    
                </div>

                <div class="arrangement">
                    <div class="form-layout">
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date">
                    </div>
            
                    <div class="form-layout">
                        <label for="time">Time</label>
                        <input type="time" id="time" name="time" placeholder="5:00 pm">
                    </div>
    
                </div>
        
        
                <div class="mssg">
                    <p>Special Request</p>
                    <textarea name="message" id="message" cols="45" rows="10"></textarea>
                    <button class="btn-msg" type="submit">Submit message</button>
                </div>

                <div class="keyboard">
                    <img src="img/sincerely-media-HoEYgBL_Gcs-unsplash.jpg" alt="keyboard image">
                </div>


    
            </form>

        </div>

    </div>
