*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
body{
    overflow-x: hidden;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    padding: 2px 10px;
    border-radius: 0px 20px;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 20px 20px solid black;
    background-color: white;

}

header h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    /* font-weight: ; */
    cursor: pointer;
}
header h4:hover{
    color: rgb(190, 5, 5);
    transition: all 0.3s ease-out;
    
}
nav ul{
    display: flex;
    
    
}
.active-menu::after{
    content: "";
    width: 70px;
    height: 5px;
    background-color: rgb(122, 6, 6);
    margin: auto;
    margin-top: 10px;
    display: block;
}

li a{
    padding: 0px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 470;
    color: rgba(0, 0, 0, 0.795);
}
li a:hover{
    color: rgb(122, 6, 6);
    font-weight: 500;
    /* transition: all 0.3s ease-out; */
}

button{
    padding: 12px;
    width: 150px;
    border-radius: 0px 10px ;
    border: none;
    background-color: rgb(122, 6, 6);
    cursor: pointer;
}
button a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 470;
}
button a:hover{
    font-size: 1.4rem;
    transition: all 0.1s ease-out;
}

.menu-toggle1{
    display: none;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0px;
    cursor: pointer;
}

/* .bar{
    display: none;
} */

/* .burger{
    display: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
} */

/* BANNER */
.main{
    width: 100%;
    height: 550px;
    border: 1px solid black;
    display: flex;
    /* background-image: url(img/header/briana-tozour-V_Nkf1E-vYA-unsplash.jpg); */
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
   

}
video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    
    
    
}
.row{
    
    width: 90%;
    display: flex;
    /* justify-content: ; */
    margin: auto;
    height: 520px;
    box-sizing: border-box;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.281); */
    
}
.main-display1{
    width: 45%;
    margin: auto;
    line-height: 1;
    color: white;
    text-shadow: 0 0 2px 2px rgb(0, 0, 0);
    

    
}
.main-display1 h3{
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 5.3rem;
    margin-top: 40px;
    
}
.main-display1 .rate{
    margin-top: 40px;
    
}
.main-display1 .rate p{
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
}
.main-display{
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0px 60px 0px ;
    overflow: hidden;
    
}
.main-display .slide{
    height: 100%;
    display: none;
}

/* SECTION PART */

.section{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.952);
}
.section-head{
    margin-top: 70px ;
    margin-bottom: 45px;
    text-align: center;
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 500;
    
}
.section-main{
    width: 90%;
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    margin: auto; 

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 10px  20px;
}

.section-col{
   margin: 0 5px ;
   width: 30%;
   margin-bottom: 40px;
   cursor: pointer;
   overflow: hidden;

   /* width: 30%;
    background-color: #18344c1a;
    margin: 10px;
    border-radius: 10px 60px 30px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.877);
    transition: all 0.5s; */

}
.section-col:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.877);
    transition: all 0.5s; 
    border-radius: 10px 30px 30px;
    /* width: 31%; */
}

.section-col .images{
    width: 100%;
    overflow: hidden;
}
/* .section-col .images img:hover{
    padding: 2px;
} */
.section-col .images img{
    width: 100%;
}
.details{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* overflow: hidden; */
}
.det{
    
    /* border: 1px solid black; */
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    /* text-align: center; */
    padding: 10px;
    font-size: 1rem;
    font-weight: 100;
    
    
}
.det h3{
    font-weight: 550;
}

 .price{
     /* border: 1px solid black; */
    width: 20%;
    background-color: white;
    border-radius: 70px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 5px 20px 0px rgba(22, 22, 22, 0.199);
    /* color: rgb(185, 128, 53); */
    color: goldenrod;
    font-weight: 530;
    font-size: 1.1rem;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.review{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px; */
}
.review h5{
    width: 15%;
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
   
}
.reviews h5{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
}
.rating{
    width: 30%;
    
}
.rating img{
    width: 100%;
    /* margin-left: 20px; */
}
.review p{
    width: 35%;
    /* border: 1px solid rgba(121, 121, 121, 0.514); */
    font-family: "poppins";
    text-transform: capitalize;
    /* font-size: 1.4rem; */
    color: rgba(31, 30, 30, 0.555);
}



















/* FIXED CONTENT */

.fixed-image{
    width: 100%;
    height: 100vh;
    background-image: url(img/alex-haney-CAhjZmVk5H4-unsplash.jpg);
    /* background-position: bottom ; */
    background-attachment: fixed;
    /* position: sticky;
    z-index: ; */
}



/* NEW AND EVENTS  */

.news{
    width: 100%;
    /* padding: 10px 20px; */
    overflow: hidden;
}
.news-head{
    margin-top: 70px ;
    margin-bottom: 45px;
    text-align: center;
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 500;
}
.news-list{
    /* width: 95%; */
    margin: auto;
    /* border: 1px solid black; */
}
.news-caption{
    cursor: pointer;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    /* border: 1px solid black; */
    margin: auto;
    position: relative;

}
.caption{
    width: 49%;
    margin: 0 auto;
    margin-bottom: 10px;
    
    overflow: hidden;
    background: linear-gradient(to bottom rgb(0, 0, 0));
}



.caption img{
    width: 100%;
    
}
.caption img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;
}
.caption-text{
    position: absolute;
    margin-top: -150px;
    padding: 0 20px; 
}

.caption-text h4{
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 5px;
    background-color: rgb(139, 6, 6);
    color: white;
    width: 130px;
}
.caption-text p{
    color: white;
    /* font-family: "poppins"; */font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.993);

}

/* EVENTS */

.det-sec{
    background-color: rgb(9, 190, 236);
    color: white;
    /* width: 30%; */
    text-align: center;
    padding: 4px 10px;
    border-radius: 4px;
}
.det-date{
    font-family: "poppins";
    text-transform: capitalize;
}
.reviews{
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    padding: 10px;
    margin-top: 10px;
    margin: auto;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #scrollToTopBtn.show {
    display: block;
  }



/* FOOTER */

.footer{
    width: 100%;
    background-image: url(img/daan-evers-tKN1WXrzQ3s-unsplash.jpg);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
   
}
.footer-cover{
    background-color: rgba(0, 0, 0, 0.726);
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    overflow: hidden; 
    padding: 30px;
     */
}

.footer-cover2{
    width: 80%;
    height: 70px;
    margin: auto;

}
.logo{
    margin: 100px auto;
}
.logo h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    color: white;
}
.footer-row{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
 .footer-col{
    /* margin: ; */
    padding: 3px;
    width: 30%;
    /* height: 300px; */
    margin-bottom: 40px;
    box-shadow: 0px 20px 40px (rgba(0, 0, 0, 0.473));
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    font-size: 1.2rem;
    
}
.footer-col h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 400;
}
.footer-col p{
    font-weight: 150;
    font-size: 1.4rem;
}

.footer-col .info{
    margin-top: 10px;
    margin-bottom: 20px;
}
.info h4{
    margin-bottom: 30px;
}
 .info, .days, .time, .tel{
    margin-top: 20px;
}
.icons{
    background-color: white;
    /* width: 10%; */
}
.footer-col .btn{
    margin-top: 30px;
    background-color: rgb(39, 35, 35);
    
}
.btn a{
    font-weight: 350;
}
.tel{
    background-color: rgb(133, 7, 7);
    width: 60%;
    padding: 10px;
    cursor: pointer;
}
.tel a{
    color: white;
}

.info .icons{
    width: 100%;
    font-size: 1.5rem;
    color: rgb(221, 217, 217);
    cursor: pointer;
    /* margin-bottom: 30px; */
}
.icons img{
    width: 20px;
    padding: 0 5px;
    font-size: 1.5rem;
    color: rgb(221, 217, 217);              
}
.icons img:hover{
    color: white;
}
.copyright{
    color: white;
    margin-top: 50px;
}


/* RESERVATION */
.reg{
    width: 80%;
    /* height: 100vh; */
    /* border-bottom: solid; */
    /* background-color: rgb(245, 245, 245); */
    box-shadow: 0px 5px 20px 0px rgba(22, 22, 22, 0.199);
    margin: auto;
    border-radius: 10px 20px 30px;
    /* padding: 20px; */
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
}
.reg-head h2{
    font-family: "poppins";
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 30px;
    text-align: center;

}
.register{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    /* height: 100%; */
    /* margin: auto; */

}
.form{
    width: 350px;
    padding: 10px;
    /* border: solid; */
    margin: auto;
}
.form-input{
    width: 100%;
    /* display: flex; */
    padding: 10px;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* height: 100%; */
}
.form-layout{
    /* margin: auto; */
    width: 70%;
}
.form-layout > label{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 670;
    color: rgba(0, 0, 0, 0.507);
}

.form-layout input{
    padding: 15px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-layout input[type]{
    
}
.form-layout label{
    margin-bottom: 10px;
}
.mssg > btn{
    float: right;
}
.mssg > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 670;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.507);
}
.btn-msg{
    margin-top: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 1.1rem;
    width: 72%;
    /* text-align: right; */
}


/* .reg-image{
    width: 40%;
    background-image: url(img/sincerely-media-HoEYgBL_Gcs-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;

} */
/* .reg-image img{
    width: 100%;
    height: 100%;
} */




@media screen and (max-width: 1200px){
    .main-display1{
        width: 37%;
    }
    .main-display1 h3{
        font-size: 4.3rem;
    }
    .main-display{
        width: 55%;
    }
    li a{
        padding: 0px 7px;
        font-size: 1.3rem;
        font-weight: 470;
    }
    .tel{
        background-color: rgb(133, 7, 7);
        width: 80%;
    }

}

@media screen and (max-width: 1100px){
    .row{
        /* flex-direction: column; */
    }
    .main-display1{
        width: 40%;
    }
    .main-display1 h3{
        font-size: 3.5rem;
    }
    .main-display{
        width: 50%;
        margin-top: 40px;
    }
}


@media screen and (max-width: 1000px){

    .menu {
            display: none;
            
            
            
        }
        .menu-toggle1{
            display: block;
        }
        .active {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 5s;
            animation: normal;
            position: absolute;
            left: 0px;
            top: 50px;
            color: white;
            width: 100%;
            background-color: black;
            height: calc(100% - 50px);
            justify-content: space-evenly;
            z-index: 100;
        }
    
        .active a {
            font-size: 1.2rem;
            color: white;
            margin-top: 7px;    
            width: 100%;
            text-align: center;
        }
    
        .active li:hover {
            background-color: grey;
        }
    
        .active li a:hover {
            background-color: grey;
        }
    
        .menu-toggle1 {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        .navbar1{
            
            justify-content: end;
            flex-direction: column;
        }
    
        .menu-toggle1.activeB .bar:nth-child(2) {
            opacity: 0;
        }
        .menu-toggle1.activeB .bar:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }
        .menu-toggle1.activeB .bar:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
    .row{
        /* flex-direction: column; */
    }
    .main-display1{
        width: 40%;
    }
    .main-display1 h3{
        font-size: 4rem;
    }
    .main-display{
        width: 60%;
        /* height: 60%; */
        /* margin-top: 40px; */
    }
    .section-col{
        width: 40%;
    }
    .footer-col{
        
        width: 40%;
    }
    .tel{
        background-color: rgb(133, 7, 7);
        width: 75%;
    }
    
    .caption{
        width: 90%;
    }
    .news-head{
        font-size: 1.7rem;
    }

    .menu{
        display: none;
        /* padding */
    }
    
    .menu-toggle1{
        display: flex;
        flex-direction: column;
    }

    /* .active{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 30px;

    } */
    .active li{
        font-size: 1.2em;
        margin-top: 7px;
        width: 90%;
        text-align: center;
    }
    .menubar{
        display: block;
    }
    .hide{
        width: 25px;
    }
    .nav ul{
        width: 75%;
        top: 75px;
        background-color: rgb(133, 7, 7);
        height: 100vh;
        text-align: center;
    }

    ul li{
        display: block;


    }
    /* .burger{
        display: block;
    } */
    
}


@media screen and (max-width: 950px){
 
}

@media screen and (max-width: 950px){
   
}

@media screen and (max-width: 950px){
    .row{
        flex-direction: column;
    }
    .main-display1{
        width: 80%;
    }
    .main-display1 h3{
        font-size: 3.5rem;
    }
    .main-display{
        width: 60%;
        
        margin-top: 40px;
    }
}


@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .main-display1{
        width: 80%;
    }
    .main-display1 h3{
        font-size: 3.5rem;
    }
    .main-display{
        width: 350px;
        margin-top: 40px;
    }
    .section-col{
        width: 98%;
    }
    .section-head h2{
        font-size: 2rem;
    }
    .footer-col{
        
        width: 70%;
  
        
    }
    .menu{
        display: none;
    }
    .caption{
        width: 95%;
    }
    .news-head h2{
        font-size: 2rem;
    }
    .caption-text{
        
        margin-top: -110px;
        padding: 0 10px; 
    }
    .caption-text h4{
        font-size: 1.2rem;
        padding: 3px;
        margin-bottom: 10px;
    }
    .caption-text p{
        font-size: 1.4rem;
    }
    .fixed-image{
        height: 70vh;
        /* background-position: top; */
    }
}

@media screen and (max-width: 400px){
    header h4{
        font-size: 1.2rem;
    }
    .hide{
        width: 20px;
    }
    .caption-text{
        
        margin-top: -70px;
        padding: 0 5px; 
    }
    .caption-text h4{
        font-size: 1rem;
        padding: 3px;
        margin-bottom: 10px;
        width: 90px;
    }
    .caption-text p{
        font-size: 1rem;
    }


    button{
        padding: 7px;
        width:80px;
    }
    button a{
        font-size: 0.7rem;
    }
    .tel{
        padding: 5px;
    }
    .tel a{
        font-size: 1rem;
    }
    .btn a{
        font-size: 1.2rem;
    }
    .btn{
        padding: 10px;
        width: 100px;
    }




    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: "poppins", sans-serif;
        text-decoration: none;
        list-style: none;
    }
    header{
        width: 100%;
        display: flex;
        gap: 30px;
        padding: 20px;
    }
    .menu-toggle1{
        display: none;
    }
    .navbar1, .menu{
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        color: red;
        font-size: 1.5rem;
        
    }
    .menu  * {
        text-decoration: none;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 2px 0px;
        cursor: pointer;
    }
    
    a:hover {
        color: gray;
    }
    
    @media (max-width:900px) {
        /* .menu {
            display: none;
            
            
            
        }
        .menu-toggle1{
            display: block;
        }
        .active {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 5s;
            animation: normal;
            position: absolute;
            left: 0px;
            top: 50px;
            color: white;
            width: 100%;
            background-color: black;
            height: calc(100% - 50px);
            justify-content: space-evenly;
            z-index: 100;
        }
    
        .active a {
            font-size: 1.2rem;
            color: white;
            margin-top: 7px;    
            width: 100%;
            text-align: center;
        }
    
        .active li:hover {
            background-color: grey;
        }
    
        .active li a:hover {
            background-color: grey;
        }
    
        .menu-toggle1 {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        .navbar1{
            
            justify-content: end;
            flex-direction: column;
        }
    
        .menu-toggle1.activeB .bar:nth-child(2) {
            opacity: 0;
        }
        .menu-toggle1.activeB .bar:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }
        .menu-toggle1.activeB .bar:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        } */
    }
}











