<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact</title>
</head>
<body>

 <%- include('partials/nav') %>

    <button onclick="scrollToTop()" id="scrollToTopBtn">Scroll to Top</button>

    <div class="bg-img-container">
        <div class="container-content">
            <h1>Say Hi</h1>
            <p><strong>We are happy to get in touch with you</strong></p>

        </div>
    </div>

    
        <section>
            <!-- CONTACT DETAILS -->
            <div class="info">
                <h1>Leave a message</h1>
            </div>
            
           
            <div class="contact">
                <div class="details-container-content">
                    <div class="fn-phone">

                        <div class="f-input1">
                           <label for="Fname">Full Name</label><br>
                           <input type="text" name="Fname" id="#" placeholder="Your Name">
                        </div>

                        <div class="f-input2">
                           <label for="phone">Phone Number</label><br>
                           <input type="tel" name="phone" id="#" placeholder="+234-12345678">
                        </div>

                    </div>

                    
                        <div class="mail-sage">   
                            <div>
                                <label for="email">E-Mail</label><br>
                                <input type="email" name="email" id="#" placeholder="Your E-Mail">
                            </div>
                        
                           <div>
                                <label for="Comment">Message</label><br>
                                <textarea name="" id="" cols="30" rows="8" placeholder="Your Message"></textarea>
                           </div>
                        
                          <div class="smt">
                              <input type="submit">
                          </div>
                        </div> 
                      
                       
                    </div>
                        
                

                
                <div class="other-details">
                    <div class="we">
                        <h2>Weekdays</h2>
                     <p><small>Monday to friday </p>  <p class="graph">10:00am - 8:00pm</p></small>

                    </div>

                    <div class="we">
                        <h2>Weekends</h2>
                        <p><small>Saturday to sunday</p> <p class="graph">11:00am - 11:00pm </p> </small>
                    </div>
                    
                </div> 
            </div>
            

            <div class="map-container">
                
            <div>
                <h1>NIIT Surulere</h1>
            </div>

            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126856.84505578963!2d3.2211012433593837!3d6.486639099999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c76ba123b97%3A0x1830320de955ab71!2sNIIT%20Surulere!5e0!3m2!1sen!2sng!4v1714615116896!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </section>

<%- include('partials/footer') %>
<%- include('partials/reservation') %>

    <script src="script.js"></script>

</body>
</html>