<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cripsy Kitchen</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

    <%- include('partials/nav') %>

    <!-- BANNER --> 
    <div class="main">
        <video autoplay muted loop>
            <source src="img/video/production_ID_3769033.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    
        <!-- Overlay for dark gradient effect -->
        <div class="video-overlay"></div>
    
        <div class="row">
            <div class="main-display1">
                <h3>delicious <br> steaks </h3>
                <h3></h3>
                <div class="rate">
                    <p>4.4/5</p>
                    <p>from 1,206+ customer reviews</p>
                </div>
            </div>

            <div class="main-display">
                <img src="/img/slide/ivan-torres-MQUqbmszGGM-unsplash.jpg" alt="" width="100%" class="slide">
                <img src="/img/slide/jason-leung-O67LZfeyYBk-unsplash.jpg" alt="" width="100%" class="slide">
                <img src="/img/slide/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="" width="100%" class="slide">
            </div>
        </div>
    </div>


    <!-- SECTION PART-->

    <div class="section">
        <div class="section-head">
                <h2>special menus</h2>
            </div>
        <div class="section-main">
            
            <div class="section-col">
                <div class="images">
                    <img src="img/breakfast/brett-jordan-8xt8-HIFqc8-unsplash.jpg" alt="">
                </div>
                <div class="details">
                    <div class="det">
                        <h3>morning fresh</h3>
                    </div>
                    
                    <div class="price">$12.50</div>
                    
                </div>
                <div class="review">
                    <h5>4/5</h5>
                    <div class="rating">
                        <img src="img/icon/5-star-rating-review-star-transparent-free-png.png" alt="" width="40%">
                    </div>
                    <p>102 reviews</p>
                </div>
            </div>
            <div class="section-col">
                <div class="images">
                    <img src="img/breakfast/farhad-ibrahimzade-D5c9ZciQy_I-unsplash.jpg" alt="">
                </div>
                <div class="details">
                    <div class="det">
                         <h3>bread  </h3>
                    </div>
                    
                    <div class="price">$24.50</div>
                    
                </div>
                <div class="review">
                    <h5>3/5</h5>
                    <div class="rating">
                        <img src="img/icon/three-stars-rating-with-transparent-background-free-png.png" alt="" width="50%">
                    </div>
                    <p>50 reviews</p>
                </div>
            </div>
            <div class="section-col">
                <div class="images">
                    <img src="img/breakfast/farhad-ibrahimzade-MGKqxm6u2bc-unsplash.jpg" alt="">
                </div>
                <div class="details">
                    <div class="det">
                         <h3>healthy soup </h3>
                    </div>
                    
                    <div class="price">$45</div>
                    
                </div>
                <div class="review">
                    <h5>4/5</h5>
                    <div class="rating">
                        <img src="img/icon/5-star-rating-review-star-transparent-free-png.png" alt="" width="40%">
                    </div>
                    <p>86 reviews</p>
                </div>
            </div>
            <div class="section-col">
                <div class="images">
                    <img src="img/dinner/keriliwi-c3mFafsFz2w-unsplash.jpg" alt="">
                </div>
                <div class="details">
                    <div class="det">
                         <h3>premium steak  </h3>
                    </div>
                    
                    <div class="price">$86</div>
                    
                </div>
                <div class="review">
                    <h5>3/5</h5>
                    <div class="rating">
                        <img src="img/icon/three-stars-rating-with-transparent-background-free-png.png" alt="" width="50%">
                    </div>
                    <p>44 reviews</p>
                </div>
            </div>
            <div class="section-col">
                <div class="images">
                    <img src="img/breakfast/farhad-ibrahimzade-ZipYER3NLhY-unsplash.jpg" alt="">
                </div>
                <div class="details">
                    <div class="det">
                         <h3>seafood set  </h3>
                    </div>
                    
                    <div class="price">$20</div>
                    
                </div>
                <div class="review">
                    <h5>4.2/5</h5>
                    <div class="rating">
                        <img src="img/icon/5-star-rating-review-star-transparent-free-png.png" alt="" width="40%">
                    </div>
                    <p>100 reviews</p>
                </div>
            </div>
            <div class="section-col">
                <div class="images">
                    <img src="img/breakfast/louis-hansel-dphM2U1xq0U-unsplash.jpg" alt="">
                </div>
                <div class="details">
                    <div class="det">
                         <h3>burger set </h3>
                    </div>
                    
                    <div class="price">$34</div>
                    
                </div>
                <div class="review">
                    <h5>4/5</h5>
                    <div class="rating">
                        <img src="img/icon/5-star-rating-review-star-transparent-free-png.png" alt="" width="40%">
                    </div>
                    <p>64 reviews</p>
                </div>
            </div>
            
            
        </div>

    </div>


    <!-- FIXED CONTENT -->
    <div class="fixed-image">
        
    </div>

    <!-- NEWS&EVENTS -->
    
    <div class="news">
        <div class="news-head">
            <h2>news and events</h2>
        </div>
        
        <div class="news-list">
            <div class="news-caption">
                <div class="caption">
                    <div>   
                       <img src="img/news/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg" alt=""> 
                    </div>
                    
                    <div class="caption-text">
                        <h4>featured</h4>
                        <p>happy lifestyle and happy living tips</p>
                    </div>
                </div>
                <div class="caption caption1">
                    <img src="img/news/stefan-johnson-xIFbDeGcy44-unsplash.jpg" alt="">
                    <div class="caption-text">
                        <h4>featured</h4>
                        <p>happy lifestyle and happy living</p>
                    </div>
                </div>
                
                

            </div>
            
            <div class="events">

                <div class="section-main">
            
                    <div class="section-col">
                        <div class="images">
                            <img src="img/news/gilles-lambert-S_LhjpfIdm4-unsplash.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="det-sec">
                                 <h3>promotion </h3>
                            </div>
                            
                            <div class="det-date">8 april 2022</div>
                            
                        </div>
                        <div class="reviews">
                            <h5>is coconut good for you?</h5>
                            
                        </div>
                    </div>
                    <div class="section-col">
                        <div class="images">
                            <img src="img/news/caroline-attwood-bpPTlXWTOvg-unsplash.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="det-sec">
                                 <h3>news  </h3>
                            </div>
                            
                            <div class="det-date">11 june 2023</div>
                            
                        </div>
                        <div class="reviews">
                            <h5>Salmon Steak Noodle</h5>
                           
                        </div>
                    </div>
                    <div class="section-col">
                        <div class="images">
                            <img src="img/news/louis-hansel-GiIiRV0FjwU-unsplash.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="det-sec">
                                 <h3>meeting  </h3>
                            </div>
                            
                            <div class="det-date">5 january 2023</div>
                            
                        </div>
                        <div class="reviews">
                            <h5>Making a healthy salad</h5>
                            
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>


<%- include('partials/footer') %>

<%- include('partials/reservation') %>


<script src="script.js"></script>
</body>
<html>



