<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ourupdate.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Our Update</title>
</head>
<body>

<%- include('partials/nav') %>


        <!-- BANNER CAPTION -->
    <div class="ban">
    <div class="banner">
        <div class="banner-text">
       <b> <h1>News & Events</h1>
        <p>our latest updates, news, events and special promotions</p></b>
        </div>
    </div>
    </div>
<div class="LU">
    <h1>Latest Updates</h1>
    <div class="news-list">
        <div class="news-caption">
            <div class="caption">
                
                
                <div class="caption-text">
                    <h4>featured</h4>
                    <p>How to make a healthy diet?</p>
                </div>
            </div>
            <div class="caption caption1">
                <div class="caption-text">
                    <h4>featured</h4>
                    <p>happy living and happy eating tips</p>
                </div>
            </div>
            
            

        </div>
    </div>

    
</div>

<div class="NE">
    <h1>News & Events</h1>
    <div class="card-container">
        <div class="card">
            <img src="images/gilles-lambert-S_LhjpfIdm4-unsplash.jpg">
            <div class="card-content">
               <h4> Promotions</h4> <b><p>12 April 2024</p></b>
                <a href="#">Is coconut good for your health?</a>
            </div>
        </div>
           
        <div class="card">
                <img src="images/ella-olsson-mmnKI8kMxpc-unsplash.jpg">
                <div class="card-content">
                    <h4>Career</h4> <b><p>14 April 2024</p></b>
                    <a href="#">How to run a sushi business?</a>
                </div>
        </div>

        <div class="card">
            <img src="images/louis-hansel-GiIiRV0FjwU-unsplash.jpg">
            <div class="card-content">
                <h4>Meeting </h4><b><p>19 April 2024</p></b>
                <a href="#">Learning a fine dining experience</a>
            </div>
        </div>
    </div>
</div>

 
<%- include('partials/footer') %>
<%- include('partials/reservation') %>

    <button onclick="scrollToTop()" id="scrollToTopBtn">Scroll to Top</button>

    <script src="script.js"></script>
</body>
</html>