*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/*   THIS THE STYLE FOR THE HEADER BACKGROUND    */

.header-bg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(/images/luisa-brimble-aFzg83dvnAI-unsplash.jpg);
    height: 25em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}
 
 .header-texts{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh; 
    color: white; 
} 

.header-texts h1{
    font-size: 4em;
    margin-bottom: 20px;
}


  /*   THIS IS THE STYLE FOR THE BREAKFAST MENU   */

  section{
    margin-bottom: 1  00px;
    background: #f9f9f9;
    padding: 50px 0px;
    padding-bottom: 100px;
  }
  section h1{
    text-align: center;
    margin: 100px 0px 50px 0px;
    font-size: 3em;
    text-shadow: 4px 4px 4px grey ;
  }

  .bfast-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bfast-card{
    max-width: 27%;
    overflow: hidden;
    margin: 15px;
    /* border-radius: 20px; */
    transition: 0.5s ease-in-out;
    /* animation: fadein 5s ease-in-out ; */
  }
/* 
  @keyframes fadein{
    0%{
      transform: translatex(-500px);
    }
    100%{
      transform: translatex(0);
    }
  } */

  .img-container{
    overflow: hidden;
    /* border: solid; */
  }

  .bfast-card:hover{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    border-radius: 20px;
  }

  .bfast-card img{
    transition: 1s ease-in-out;
  }

  .bfast-card img:hover{
    transform: scale(1.07);
  }

  .bfast-card img{
    margin-bottom: 20px;
  }

  .bfast-card-content{
    margin-left: 10px;
  }

  .star{
    height: 10vh;
    object-fit:cover ;
    scale: none;
    padding: -500px;
    margin-top: 15px;
  }

  .bfast-card-content strong p{
    font-family: sans-serif;
    margin-right: 20px;
    /* margin-bottom: 200px; */
  }

  .bfast-card-content small{
    font-size: 13px;
    font-weight: 600;
    color: orange;
    padding: 15px;
    border-radius: 70px ;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 1s ease-in-out;
  }

  .bfast-card-content small:hover{
    background-color: gold;
    color: black;
  }

  .number{
    margin-top: 19px;
    display: flex;
    align-items: center;
  }

  .number h4{
    font-size: 20px;
  }

  .number p{
    margin-left: 10px;
    font-size: 15px;
    font-family: cursive;
  }


  /*    THIS THE STYLE FOR LUNCH MENU    */

 .sec-2{
  background-color: white;
}

.lunch-menu-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lunch-card{
  max-width: 40%;
  margin: 15px;
  /* border-radius: 20px;b */
  transition: 0.5s ease-in-out;
  padding-bottom: 20px;
  overflow: hidden;
}

.lunch-card:hover{
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  border-radius: 20px;
}

.lunch-card img{
  transition: 1s ease-in-out;
}

.lunch-card img:hover{
  transform: scale(1.05);
}

.lunch-card img{
  margin-bottom: 20px;
}

.lunch-card-content{
  margin-left: 20px;
}

.lunch-card-content strong{
  font-family: sans-serif;
  font-size: 2rem;
  margin-right: 20px;
  margin-bottom: 200px;
}

.lunch-card-content small{
  font-size: 18px;
  font-weight: 200;
  color: orange;
  padding: 15px;
  border-radius: 70px ;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.lunch-card-content small:hover{
  background-color: gold;
  color: black;
}

  /* THIS THE STYLE FOR THE LUNCH CARD */

/*    FOR THE DINNER MENU I LITERALLY JUST COPIED THE STYLE OF BREAKFAST MENU CHANGE THE CLASSES   */

.diner-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diner-card{
  max-width: 27%;
  overflow: hidden;
  margin: 15px;
  /* border-radius: 20px; */
  transition: 0.5s ease-in-out;
  padding-bottom: 20px;
}

.diner-card:hover{
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  border-radius: 20px;
}

.diner-card img{
  transition: 1s ease-in-out;
}

.diner-card img:hover{
  transform: scale(1.05);
}

.diner-card img{
  margin-bottom: 20px;
}

.diner-card-content{
  margin-left: 10px;
}

.diner-card-content strong{
  font-family: sans-serif;
  font-size: 2rem;
  margin-right: 20px;
  margin-bottom: 200px;
}

.diner-card-content small{
  font-size: 18px;
  font-weight: 200;
  color: orange;
  padding: 15px;
  border-radius: 70px ;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.s2{
  margin-left: 230px;
}

.diner-card-content small:hover{
  background-color: gold;
  color: black;
}


#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#scrollToTopBtn.show {
  display: block;
}



@media screen and (max-width:1000px) {
  .header-bg{
    height: 15em;
  }
  .header-texts{
    height: 40vh ;
  }
  .header-texts h1{
    font-size: 2.5em;
    margin-bottom: -10px;
  }
     /*        FOR BREAKFAST CARD               */

     .bfast-card-container{
      display:flex ;
      /* flex-direction: column; */
      flex-wrap: wrap;
      max-width: 100%;
      /* margin: auto; */ 
      /* align-items: center; */
    }  
    .bfast-card{
      max-width: 45%;
      margin: 20px;
    }
    .bfast-card:nth-child(3){
      width: 100%;
      margin-right: auto;
    }
  
    .bfast-card-content{
      width: 80%;
      /* height: 20vh; */
    }
    .bfast-card-content img{
      width: 40%;
    }

  /*   FOR THE LUNCH I DID THE SAME JUST EDITED THE TEXT / 
  NOTE IMADE SOME ADJUSTMENTS  */
  .lunch-menu-container{
    display:flex ;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
    /* margin: auto; */ 
  }  
  .lunch-card{
    max-width: 90%;
    margin: 50px auto;
  }

  .lunch-card-content{
    width: 80%;
    /* height: 20vh; */
  }
  .lunch-card-content img{
    width: 40%;
  }
  
  /*   FOR THE DINNER I DID THE SAME JUST EDITED THE TEXT   */
  .diner-card-container{
    display:flex ;
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-width: 100%;
    /* margin: auto; */ 
    /* align-items: center; */
  }  
  .diner-card{
    max-width: 45%;
    margin: 20px;
  }
  .diner-card:nth-child(3){
    width: 100%;
    margin-right: auto;
  }

  .diner-card-content{
    width: 80%;
    /* height: 20vh; */
  }
  .diner-card-content img{
    width: 40%;
  }
}

@media screen and (max-width:800px) {
    section h1{
      font-size: 1.9em;
    }
    .bfast-card-container{
      display: flex;
      flex-direction: column;
    }
    .bfast-card{
      margin: 50px auto;
      max-width: 70%;
      /* height: 50em; */
    }


    /*   FOR LUNCH    */
    .lunch-card{
      width: 70%;
      margin: 50px auto;
    }

    /*    FOR DINER   */
    .diner-card-container{
      display: flex;
      flex-direction: column;
    }
    .diner-card{
      margin: 50px auto;
      max-width: 70%;
      /* height: 50em; */
    }
}

@media screen and (max-width:700px) {
  section h1{
    font-size: 2.5em;
  }
  .bfast-card{
    max-width: 90%;
  }
  .lunch-card{
    width: 90%;
  }
  .diner-card{
    max-width: 90%;
  }
}

@media screen and (max-width:1400px){
  
    /*    FOR BREAKFAST    */
    .bfast-card-content strong{
      font-size: 29px;
    }
   
    /*     FOR LUNCH    */
    
    .lunch-card-content strong{
      font-size: 29px;
    }

    /*   FOR DINER   */
    .diner-card-content strong{
    font-size: 29px;
  }
}

