*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'poppoin', sans-serif;
}

/* HEADER */

header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* fixed */
    background-color: white;
    flex-wrap: wrap; /* for responsiveness */
}

header h4 > a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
}

header h4 > a:hover {
    color: rgb(190, 5, 5);
    transition: all 0.3s ease-out;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.active-menu::after {
    content: "";
    width: 70px;
    height: 5px;
    background-color: rgb(122, 6, 6);
    margin: auto;
    margin-top: 10px;
    display: block;
}

li a {
    padding: 0px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 470;
    color: rgba(0, 0, 0, 0.795);
    text-decoration: none;
}

li a:hover {
    color: rgb(122, 6, 6);
}

button {
    padding: 12px;
    width: 150px;
    border-radius: 0px 10px;
    border: none;
    background-color: #dc3545;
    cursor: pointer;
}

button a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 470;
    text-decoration: none;
}

button a:hover {
    transition: all 0.1s ease-out;
}

/* Hamburger */
.menu {
  display: flex;
  gap: 20px;
}

.menu-toggle1 {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle1 .bar {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

/* BANNER */

.main {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;  /* Ensures the video covers the full background area */
    z-index: 0;        /* Puts the video behind other content */
}

/* Dark gradient overlay for the video */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); /* Gradient darkening effect */
    z-index: 1; /* Places the gradient overlay above the video but below the content */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;           /* optional: wraps items if needed */
    position: relative;        /* in case you want to layer other things */
    z-index: 2;                /* ensures it's above the video */
    width: 80%;
}



.main-display1 {
    line-height: 1;
    color: white;
    width: 40%;
    text-shadow: 0 0 2px 2px rgb(0, 0, 0);
}

.main-display1 h3 {
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 4rem;
    margin: 0px, 0px, 4px;
}

.main-display1 .rate {
    margin-top: 40px;
}

.main-display1 .rate p {
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
}

.main-display {
    object-fit: fill;
    margin: auto;
    width: 60%;
    overflow: hidden;
}


.main-display .slide {
    display: none;
}

/* SECTION PART */

.section{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.952);
}
.section-head{
    margin-top: 70px ;
    margin-bottom: 45px;
    text-align: center;
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 500;
    
}
.section-main{
    width: 90%;
    align-items: center;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 10px  20px;
}

.section-col{
   margin: 0 5px ;
   width: 30%;
   margin-bottom: 40px;
   cursor: pointer;
   overflow: hidden;
}

.section-col:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.877);
    transition: all 0.5s; 
    border-radius: 10px 30px 30px;
    /* width: 31%; */
}

.section-col .images{
    width: 100%;
    overflow: hidden;
}

.section-col .images img{
    width: 100%;
}

.details{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* overflow: hidden; */
}

.det{
    
    /* border: 1px solid black; */
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    /* text-align: center; */
    padding: 10px;
    font-size: 1rem;
    font-weight: 100;
    
    
}
.det h3{
    font-weight: 550;
}

 .price{
     /* border: 1px solid black; */
    width: 20%;
    background-color: white;
    border-radius: 70px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 5px 20px 0px rgba(22, 22, 22, 0.199);
    /* color: rgb(185, 128, 53); */
    color: goldenrod;
    font-weight: 530;
    font-size: 1.1rem;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.review{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px; */
}
.review h5{
    width: 15%;
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
   
}
.reviews h5{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
}
.rating{
    width: 30%;
    
}
.rating img{
    width: 100%;
    /* margin-left: 20px; */
}
.review p{
    width: 35%;
    /* border: 1px solid rgba(121, 121, 121, 0.514); */
    font-family: "poppins";
    text-transform: capitalize;
    /* font-size: 1.4rem; */
    color: rgba(31, 30, 30, 0.555);
}

/* FIXED CONTENT */

.fixed-image {
    height: 500px;
    background-image: url(/img/alex-haney-CAhjZmVk5H4-unsplash.jpg);
    background-size: cover;  /* Ensures the image covers the full container */
    background-position: center center;  /* Centers the image */
    background-attachment: fixed;  /* Keeps the image fixed while scrolling */
}

/* NEW AND EVENTS  */

.news{
    width: 100%;
    /* padding: 10px 20px; */
    overflow: hidden;
}
.news-head{
    margin-top: 70px ;
    margin-bottom: 45px;
    text-align: center;
    font-family: "poppins";
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 500;
}
.news-list{
    padding-bottom: 100px;
    margin: auto;
    /* border: 1px solid black; */
}
.news-caption{
    cursor: pointer;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    /* border: 1px solid black; */
    margin: auto;
    position: relative;

}
.caption{
    width: 49%;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom rgb(0, 0, 0));
}

.caption img{
    width: 100%;
    
}
.caption img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;
}
.caption-text{
    position: absolute;
    margin-top: -150px;
    padding: 0 20px; 
}

.caption-text h4{
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 5px;
    background-color: #dc3545;
    color: white;
    width: 130px;
}
.caption-text p{
    color: white;
    /* font-family: "poppins"; */font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.993);

}

/* EVENTS */

.det-sec{
    background-color: rgb(9, 190, 236);
    color: white;
    /* width: 30%; */
    text-align: center;
    padding: 4px 10px;
    border-radius: 4px;
}
.det-date{
    font-family: "poppins";
    text-transform: capitalize;
}

.reviews{
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-top: 10px;
    margin: auto;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #scrollToTopBtn.show {
    display: block;
  }



/* FOOTER */

footer {
    background:linear-gradient(to bottom, rgba(0,0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('/img/daan-evers-tKN1WXrzQ3s-unsplash.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    margin: 50px  auto;
    width: 86%;
}

.logo h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    color: white;
}

.footer-row{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .footer-col{
    margin: auto;
    padding: 3px;
    width: 30%;
    height: 300px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 40px (rgba(0, 0, 0, 0.473));
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.footer-col h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 400;
}
.footer-col p{
    font-weight: 150;
    font-size: 1.4rem;
}

.footer-col .info{
    margin-top: 10px;
    margin-bottom: 20px;
}

.info h4{
    margin-bottom: 30px;
}

 .info, .days, .time, .tel{
    margin-top: 20px;
}

.footer-col .btn{
    margin-top: 30px;
    background-color: rgb(39, 35, 35);
}

.btn a{
    font-weight: 350;
}

.tel{
    background-color: rgb(133, 7, 7);
    width: 60%;
    padding: 10px;
    cursor: pointer;
}

.tel a{
    color: white;
}


.icons {
    display: flex;
    gap: 20px;
}

.icons a {
    display: inline-block;
}

.social-icon {
    width: 30px;
    height: 30px;
    color: gray;
    transition: all 0.3s ease;
}

.icons a:hover .social-icon {
    color: white;
    filter: drop-shadow(0 0 6px white);
}
.copyright{
    color: white;
    margin-top: 50px;
}


/* RESERVATION */

.reservation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center it */
    background-color: white;
    z-index: 1000;
    margin-top: 100px;
    width: 85%;
    box-shadow: 0px 5px 20px rgba(22, 22, 22, 0.199);
    border-radius: 10px 20px 30px;  
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: none; 
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popOut {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -60%) scale(0.95);
    }
  }

.reservation.active {
    display: block;
    animation: popIn 0.3s ease forwards;
}

.reservation.closing {
    animation: popOut 0.3s ease forwards;
    display: block; /* Keep it displayed during the animation */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.popup-overlay.active {
    display: block;
}

.reg-head h2{
    font-family: "poppins";
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.x-o{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.closeFormBtn{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
}

.closeFormBtn span {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}

/* First line rotates 45 degrees and moves up slightly */
.closeFormBtn span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

/* Second line rotates -45 degrees and stays in place */
.closeFormBtn span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.register {
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;  
    gap: 15px;
    width: 60%;
    margin-left: 30px;
}

.arrangement{
    display: flex;
}

.arrangement input {
    margin-bottom: 20px; 
    width: 300px;
    padding: 20px 14px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.arrangement label {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.507);
}

.arrangement label, input:nth-child(2){
    margin-left: 20px;
}

textarea{
    height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

textarea:focus{
    border: 4px solid rgba(0, 0, 255, 0.404); 
    outline: none;  
}


.form-layout input:focus{
    border: 4px solid rgba(0, 0, 255, 0.404); 
    outline: none;  
}

.mssg{
    margin-left: 20px;
}

.mssg p{
    color: rgba(0, 0, 0, 0.507);
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;

}

.btn-msg {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-msg{
    margin-top: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase; 
    font-family: "poppins";
    font-size: 1.1rem;
    width: 72%;
}

.keyboard{
    position: absolute;
    top: 5%;
    left: 25%;
    object-fit: contain;
    z-index: -1;
}

.keyboard{
    position: absolute;
}

.keyboard img{
    width: 1000px;
    height: 100%;
}

@media screen and (max-width: 1200px){

    li a{
        padding: 0px 7px;
        font-size: 1.3rem;
        font-weight: 470;
    }

    .tel{
        background-color: rgb(133, 7, 7);
        width: 80%;
    }

    .reservation{
        width: 70%;
    }

    .register{
        width: 50%;
    }

    .arrangement input {
        margin-bottom: 20px; 
        width: 240px;
    }

    .keyboard{
        left: 10%;
        height: 100%;
    }
    

}

@media screen and (max-width: 991px) {
    .menu {
        position: absolute;
        top: 0;
        left: -50%;
        height: 100vh;
        padding-top: 100px;
        gap: 30px;
        z-index: 999;
        display: none;
        overflow: hidden;
        transition: 2s ease-in-out;
    }

    body.no-scroll{
        overflow: hidden;
    }

    li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 10px 20px;
        display: block;
    }

    .menu-toggle1{
        display: flex;
        flex-direction: column;
    }

    .active{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        left: 0;
        top: 18%;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .active li{
        font-size: 1.2em;
        margin-top: 7px;
        width: 90%;
        text-align: center;
    }

    nav ul{
        width: 75%;
        top: 75px;
        background-color: rgb(133, 7, 7);
        height: 100vh;
        text-align: center;
    }

    ul li{
        display: block;
    }

    .menu-toggle1 {
        display: flex;
    }

    /* Animate hamburger into X */
    .menu-toggle1.activeB .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle1.activeB .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle1.activeB .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  
    .active-menu::after{
        display: none;
    }

    /* THIS IS FOR THE OVERLAY */

    .row{
        flex-direction: column;
    }
    .main-display1{
        /* width: 50%; */
    }
    .main-display1 h3{
        font-size: 4rem;
    }
    .main-display{
        width: 100%;
        height: 60%;
        margin-top: 40px;
    }
    .section-col{
        width: 40%;
    }
    .footer-col{
        
        width: 40%;
    }
    .tel{
        background-color: rgb(133, 7, 7);
        width: 75%;
    }
    
    .caption{
        width: 90%;
    }
    .news-head{
        font-size: 1.7rem;
    }


    .reservation{
        margin-top: 200px;
    }

    .arrangement{
        display: flex;
        flex-direction: column;
        width: 170%;
    }

    .arrangement input{
        width: 100%;
    }

     textarea{
        width: 100%;
    }

    .keyboard{
        display: none;
    }

        
}



@media screen and (max-width: 950px){
    .row{
        flex-direction: column;
    }
    .main-display1{
        width: 80%;
    }
    .main-display1 h3{
        font-size: 3.5rem;
    }
    .main-display{
        width: 60%;
        margin-top: 40px;
    }
}


@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .main-display1{
        width: 80%;
    }
    .main-display1 h3{
        font-size: 3.5rem;
    }
    .main-display{
        width: 350px;
        margin-top: 40px;
    }
    .section-col{
        width: 98%;
    }
    .section-head h2{
        font-size: 2rem;
    }
    .footer-col{
        
        width: 70%; 
    }
    .caption{
        width: 95%;
    }
    .news-head h2{
        font-size: 2rem;
    }
    .caption-text{
        
        margin-top: -110px;
        padding: 0 10px; 
    }
    .caption-text h4{
        font-size: 1.2rem;
        padding: 3px;
        margin-bottom: 10px;
    }
    .caption-text p{
        font-size: 1.4rem;
    }
    .fixed-image{
        height: 70vh;
        /* background-position: top; */
    }
    
    .reservation{
        width: 90%;
    }
}

@media screen and (max-width: 400px){

    .hide{
        width: 20px;
    }
    .caption-text{
        
        margin-top: -70px;
        padding: 0 5px; 
    }
    .caption-text h4{
        font-size: 1rem;
        padding: 3px;
        margin-bottom: 10px;
        width: 90px;
    }
    .caption-text p{
        font-size: 1rem;
    }


    button{
        padding: 7px;
        width:80px;
    }
    button a{
        font-size: 0.7rem;
    }
    .tel{
        padding: 5px;
    }
    .tel a{
        font-size: 1rem;
    }
    .btn a{
        font-size: 1.2rem;
    }
    .btn{
        padding: 10px;
        width: 100px;
    }
}








